POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

AUTH_DATABASE_URL=postgres://postgres:postgres@localhost:5432/auth_db
CUSTOMER_DATABASE_URL=postgres://postgres:postgres@localhost:5433/customer_db
ACCOUNT_DATABASE_URL=postgres://postgres:postgres@localhost:5434/account_db
TRANSFER_DATABASE_URL=postgres://postgres:postgres@localhost:5435/transfer_db
LEDGER_DATABASE_URL=postgres://postgres:postgres@localhost:5436/ledger_db
